@{
    ViewBag.Title = "Home Page";
    <link href="~/style/homestyle.css" rel="stylesheet" />
}

<body style=" background-image: url(https://images.pexels.com/photos/1603899/pexels-photo-1603899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); background-size: 100vw 100vh; ">
    <div class="header">
        <h1 style="color:whitesmoke;font-weight:bold;font-size:100px;font-style:italic;animation-name:revert;animation-duration:10s">Food Creww!</h1>
        <p style="color:yellow;font-weight:bold;font-size:40px">Satisfy your cravings with our delivery!</p>
    </div>
   
</body>